.label-card {
    font-size: 10px;
    font-weight: bold;
    margin-right: 4px;
    line-height: 1.4;
    color: #ffffff;
    padding: 3px 4px;
    border-radius: 3px;
    background: rgba(66, 186, 191, 50%);
}