{
  "data": [
    {
      "id": "5ebfe2456ed16723f113cc27",
      "name": "Soto Ayam Pak Kumis",
      "ig_account": "@sotopakkumis",
      "location": "Cengkareng, Jakarta Barat",
      "category": "Makanan dan Minuman",
      "description": "Soto ayam kuah bening dengan cita rasa yang lezat, lengkap dengan bihun, telur, dan daging ayam.",
      "instructions": "Cara mendukung: Pesan makanan ini melalui go food/grab food dengan nama Soto Ayam Pak Kumis, kemudian post ke instagram kamu! jangan lupa tag akun IG kami @yukbantubisnis.online di instagram supaya kamu dapat kami tambahkan ke daftar pendukung bisnis ini!",
      "thumbnail_link": "https://drive.google.com/asdfasdf",
      "assets_link": "https://drive.google.com/asdfasdf",
      "anonymous_backers" : 10,
      "instagram_backers" :  [ "@lulu", "@lala", "anonymous" ]
    }
  ],
  "meta": {
    "http_status": 200,
    "offset": 0,
    "limit": 10,
    "total": 25
  }
}
